.casingTheme0
{
	background-color: rgb(255,127,204);
	background-image: url("images/casing-background-00.png");
	background-size: cover;
	
	
}

.casingTheme0 #screen
{
	image-rendering:crisp-edges;
}

.casingTheme0 .casingButton
{
	/* filter:hue-rotate(320deg); */
}


.casingTheme0 .overlay
{
	background-image: url("images/casing-overlay-screen.png");
	background-size:cover;
	opacity:0.2;
	mix-blend-mode:lighten;
}

