.casingTheme3
{
	background-color: rgb(200,200,80);
	background-image: url("images/casing-background-03.png");
	background-size: cover;	
}


.casingTheme3 #screen
{
	image-rendering:crisp-edges;
		
}

.casingTheme3 .casingButton
{
	/* filter:hue-rotate(60deg); */
}


.casingTheme3 .overlay
{
	display:none;
}

