.casingTheme1
{
	background-color: rgb(80,200,80);
	
}

.casingTheme1 #screen
{
	image-rendering:smooth;
}

.casingTheme1 #input, .casingTheme1 #output
{
	filter:blur(1.5pt);
}

.casingTheme1 .overlay
{
	background-image: url("images/casing-overlay-scanlines.png");
	background-size: cover;
	mix-blend-mode:multiply;
	opacity:0.4;
	
}




