@keyframes appear
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}


/* Common */

@font-face {
  font-family: 'machineFont';
  src: url('fonts/ibmplex.ttf') format('truetype');
}

body, input, button, textarea
{

	font-family: 'machineFont', monospace ;
	font-style: normal;
	color: rgb(0, 160, 164);
	background-color: rgb(40,40,40);
}

a
{
	color: rgb(140, 0, 140);
	text-decoration:none;
}

a:hover
{
	color: rgb(180, 0, 180);
}

input
{
	border-style:none;
}


.title
{
	color: white;
	padding:5pt;
	font-weight:bold;
	background-color: rgb(50, 0, 50);
}

.shortcut
{
	font-style:normal;
	text-decoration:underline;

}


.topMenu, .bottomMenu
{
	background-color:rgb(50,50,50);
	padding-left:10pt;
	padding-right:10pt;
	padding-top:5pt;
	padding-bottom:10pt;
}


.topMenu button, .bottomMenu button
{
	color: white;
	font-size:12pt;
	background-color: transparent;
	border-style: none;
	padding:3pt;
	border-style: none;
}

.topMenu button:hover, .bottomMenu button:hover
{
	color: black;
	background-color: white;
}

#dialogBox .topMenu, #dialogBox .bottomMenu
{
	padding:0pt;
}

#Pantalla
{
	box-shadow: 5pt 5pt 5pt 0pt rgba(0,0,0,0.5),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.5),
				inset 0 0.2em 0.2em rgba(240,240,240,0.8);

	
}

#ControlsBox
{
	display:none;
	height:2cm;
	position:relative;
	margin-bottom:1cm;
}

.casingButton
{
	filter: drop-shadow(2pt 2pt 2pt black);
}

.casingButton:active
{
	filter:none;
	margin-top:2pt;
}

#CasingA, #CasingB
{
	position:absolute;
	height:1.25cm;
	width:1.25cm;
}

#CasingUp, #CasingDown
{
	position:absolute;
	left:1.25cm;
	height:1.25cm;
	width:0.75cm;
}

 #CasingDown
 {
	 top:1.5cm;
 }

#CasingLeft, #CasingRight
{
	position:absolute;
	top:1cm;
	height:0.75cm;
	width:1.25cm;
}

#CasingLeft
{
	left:0.25cm;
}

#CasingRight
{
	left:1.75cm;
}

#CasingA
{
	top:0.75cm;
	left: 7cm;
}

#CasingB
{
	top:0.75cm;
	left: 8.5cm;
}


.machineMenu
{
	mix-blend-mode:hard-light;
}


.machineMenu table
{
	padding-left: 16pt;
	padding-right: 8pt;
	padding-top: 0pt;
	padding-bottom: 0pt,
}

.machineMenu .button
{
	width:20pt;
	padding:2pt;
	
	background-color: rgba(40,40,40,0.1);
	color: rgb(120,120,120);
	box-shadow: 0pt 0pt 0pt 0pt rgba(0,0,0,0.3),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.3),
				inset 0 0.2em 0.2em rgba(240,240,240,0.3);
	border-style:none;
	border-radius:3pt;
	
}

#mainBox
{
	padding:20pt;
	overflow:auto;
}

/*
#inputBox, #outputBox
{
	border-style:solid;
	border-width:3pt;
	border-color:rgba(120,120,120,0.6);
	border-radius:3pt;
}
*/

#inputBox
{
	position:relative;
	margin-top:12pt;
	margin-bottom:20pt;
	
}

#outputBox
{
	position:relative;
	margin-top:20pt;
	
}

#screen, #screenOverlay
{
	/* border-radius:10pt; */
}


#screen, #input, #output
{
	/* mix-blend-mode:luminosity; */
	

	
}

.overlay
{
	position:absolute;
	z-index:2;
}

/* Developer mode */

.developer
{
	background-color: rgb(51, 51, 51);
	background-image: url("images/background2.png");
	background-size: 25%;
	background-repeat: repeat;
	
}


.developer .component
{
	visibility:visible;
	display:block;
	padding:3pt;
	background-image: url('images/background-component.png');
	background-repeat: repeat;

	animation: 0.5s ease-out 0s 1 appear;	

	
}

.developer #ListaJuegos
{
	display:none;
	visibility:visible;
}

.developer #BarraLateral
{
	display:none;
}



.developer #screenGrid
{
	visibility:visible;

	animation: 0.5s ease-out 0s 1 appear;	
}

.developer .topMenu
{
	visibility:visible;
	position:relative;
	top:0;
	transition:top 0.5s;
	transition-timing-function:ease-out;
	
	
}

/* Player mode */

.player
{
	background-color: rgb(51, 51, 51);
	background-image: url("images/background1.png");
	background-attachment:fixed;
	background-size: 30%;
	background-repeat: repeat;
	overflow:auto;

	
}

.player #Pantalla
{
	position:fixed;
    top:50%;
    left:50%;
	transform: translate(-50%, -50%);

/*
	animation-duration: 3s;
	animation-name: machineCasing;
	animation-iteration-count: infinite;	
*/
}

.player .component
{
	visibility:hidden;
	opacity: 0;	
}

.player #Comment
{
	opacity: 1;		
}

.player #Comment textarea, .player #BarraLateral
{
	background-color: rgba(0,0,0,0.9);
	padding:20pt;
	border:solid;
	border-width:1pt;
	border-color:rgba(0,200,255,0.7);
	border-radius:15pt;
	color: rgba(255,255,255,0.7);
	text-shadow: -1pt 1pt 4pt black;
	
}

.player #ListaJuegos
{
	display:block;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.9);
	z-index:1;
	
	
}

.player #ListaJuegos .gameList
{
	position:fixed;
	left:0;
	right:0;
	top:50%;
	transform:translate(0, -50%);
	overflow:auto;
	white-space: nowrap;
	background-image: url("images/choose-project-gradient.png");
	background-size:contain;
	background-color:transparent;
	z-index:2;	
}


.player .gameBox
{
	display:inline-block;
	box-shadow: 5pt 5pt 5pt 0pt rgba(0,0,0,0.5),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.5),
				inset 0 0.2em 0.2em rgba(240,240,240,0.8);
	
	background-color:rgb(0,0,0);
	padding:20pt;

	transform:scale(1);
	transition:transform 0.5s;
}

.player .gameBox:hover
{
	transform:scale(1.1);
	transition:transform 0.5s;
}

.player .gameBox img
{
	height:8cm;	
}

.player #Comment textarea
{
	visibility:visible;
	position:fixed;
    top:50%;
    left:80%;
	width:20%;
	height:60%;
	transform: translate(-50%, -50%);
	resize: none;

}


.player #screenGrid
{
	visibility:hidden;
	opacity: 0;
}

.player .topMenu
{
	visibility:hidden;
	position:relative;
	top:-3cm;
	transition:top 1s;
}


#input,#output
{
	mix-blend-mode:hard-light;	
}


#logo
{
	width:3cm;
	margin-top:0pt;
	margin-right:3pt;
	
}



#casingThemeChooser
{
	font-size:5pt;
	margin-right:3pt;
	margin-bottom:10pt;
}

#casingThemeChooser input
{
	width:12pt;
	height:12pt;
}
	

#dialogBase
{
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	
	background-color:rgba(10,20,10,0.9);
}

#dialogBox
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);	
	background-color: rgba(0,0,0,1.0);
}

#OpenHelp, #CloseDialog
{
	color:yellow;
}

#ApplyConfiguration
{
	color:green;
}


#Run
{
	color:lightgreen;
}

#Stop
{
	color:red;
}

#Step
{
	color:lightblue;
}

#OpenHelp:hover, #CloseHelp:hover, #ApplyConfiguration:hover,
#Run:hover, #Stop:hover, #Step:hover, #ResetProcessor:hover,
#CloseDialog:hover
{
	color:black;
}


#ResetProcessor
{
	color:yellow;
}

#helpDialogContents, #aboutDialogContents
{
	padding: 1cm;
	width: 20cm;
	height: 16cm;
	white-space: pre;
	overflow: auto;
	
	background-color: rgba(0.2,0.2,0.2,1.0);
	
}

#configurationDialogContents
{
	width: 20cm;
	background-color: rgba(0.2,0.2,0.2,1.0);
}

#Processor, #ToneGenerator, #Keyboard, #RandomNumberGenerator, #Clock, #Comment
{
	width: 6cm;
}

#Processor .registerValue
{
	width: 1.5cm;
}



#Memory
{
	width: 6.75cm;
}

#Memory .memoryValue
{
	width: 1.5cm;
}

#Memory .memoryLabel
{
	width: 3cm;
}

#MemoryTable
{
	overflow-x:auto;	
	overflow-y:auto;	
	height:100%;

}

#MemoryTable tr
{
	white-space: nowrap;
}





.component table
{
	border-spacing:0;
}

.component button
{
	background-color: rgb(40,40,40);	
	color: rgb(120,120,120);
	box-shadow: 0pt 0pt 0pt 0pt rgba(0,0,0,0.3),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.3),
				inset 0 0.2em 0.2em rgba(240,240,240,0.3);
	border-style:none;
	border-radius:3pt;
}

#Processor img
{
	height:3.2cm;
	position:static;
}



#Memory img, #Program img
{
	height:2cm;
	position:static;
}

.component img
{
	height:1.4cm;
	position:relative;
	left: -0.6cm;
	top: -0.6cm;

}

.component .menu
{
	margin-top:10pt;
}

.component .menu button
{
	margin-left:3pt;
}

.component .menu .menuGroup
{
	padding-left:6pt;
	text-align:left;
	background-color:rgba(0,100,0,0.4);
	color: rgb(140, 140, 140);	
	font-size:10pt;	
}



#ToneGenerator input
{
	width: 100%;
	font-size: 14pt;
}

#Keyboard input
{
	width: 100%;
	font-size: 14pt;
}

#RandomNumberGenerator input
{
	width: 100%;
	font-size: 14pt;
}

#Clock input
{
	width: 100%;
	font-size: 14pt;
}

#Configuration input
{
	width: 2cm;
}

#Program .instructionValue
{
	width: 13cm;
}

#Program .instructionLabel
{
	width: 3cm;
}


#Program
{
	width: 18cm;
}

#ProgramTable
{
	overflow-x:auto;	
	overflow-y: auto;
	height:100%;
}	

#ProgramTable tr
{
	white-space: nowrap;
}

.notEditable
{
	color: rgb(90, 90, 90);	
}


.backgroundField
{
	background-color: rgb(40,40,40);
}

.backgroundFieldBase
{
	background-color: rgb(40,40,40,0.8);
}

/*
.backgroundMachine
{
	background-color: rgb(130,127,204);
}
*/


.thinRounded
{
	border-radius:1pt
}


.backgroundBody
{
	background-color: rgb(51, 51, 51);
}



.padded
{
	padding:5pt;
}

.margined
{
	margin:15pt;
}

.bottommargined
{
	margin-bottom:15pt;
}

.row
{
	width: 100%;
}

.column
{
	float:left;
}


.notbordered
{
	border-style:none
}

.smoothborder
{
	border-radius:10pt;
}




.shadowed
{
	box-shadow: 3pt 3pt 3pt 0pt rgba(0,0,0,0.3)
}

.fullwidth
{
	width: 100%;
}

.halfwidth
{
	width: 50%;
}


.centered
{
	text-align:center;
}

.verysmall
{
	font-size: x-small;
}

.smaller
{
	font-size: smaller;
}

.larger
{
	font-size: larger;
}

.bold
{
	font-weight: bold;
}

.grayed
{
	color:gray
}

.topaligned
{
	valign:top
}

.middlealigned
{
	valign:middle;
}

.rightaligned
{
	text-align: right;
}

.preformated
{
	white-space: pre
}

.inputlabel
{
	width:2cm;
}


.periphericValue
{
	font-size:larger;
}

.noMargin
{
	margin: 0pt;
}

.noPadding
{
	padding: 0pt;
}


.bigRaised
{
	position:relative;
	left: -1.2cm;
	top: -1.2cm;	
}

.floatRight
{
	float:right;
}


