@font-face {
  font-family: 'machineFont';
  src: url('fonts/ibmplex.ttf') format('truetype');
}

body, input, button, textarea
{

	font-family: 'machineFont', monospace ;
	font-style: normal;
	/* color: rgb(120, 120, 120); */
	color: rgb(0, 160, 164);
	
	background-color: rgb(40,40,40);
}

input
{
	border-style:none;
}

.title
{
	color: white;
	padding:5pt;
	font-weight:bold;
	background-color: rgb(50, 0, 50);
}



.topMenu, .bottomMenu
{
	background-color:rgb(50,50,50);
	padding-left:10pt;
	padding-right:10pt;
	padding-top:5pt;
	padding-bottom:10pt;
}


.topMenu button, .bottomMenu button
{
	color: white;
	font-size:12pt;
	background-color: transparent;
	border-style: none;
	padding:3pt;
	border-style: none;
}

.topMenu button:hover, .bottomMenu button:hover
{
	color: black;
	background-color: white;
}

#dialogBox .topMenu, #dialogBox .bottomMenu
{
	padding:0pt;
}

#mainBox
{
	padding:20pt;
	overflow:auto;
}

.component
{
	padding:3pt;
	background-image: url('images/background-component.png');
	background-repeat: repeat;
	
}

#input, #output
{
	margin-top:20pt;
}

#logo
{
	width:3cm;
	margin-top:0pt;
	margin-right:3pt;
	
}


#themeChooser
{
	font-size:5pt;
	margin-right:3pt;
	margin-bottom:10pt;
	
}

#themeChooser input
{
	width:12pt;
	height:12pt;
}
	

#dialogBase
{
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	
	background-color:rgba(10,20,10,0.9);
}

#dialogBox
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);	
	background-color: rgba(0,0,0,1.0);
}

#OpenHelp, #CloseDialog
{
	color:yellow;
}

#ApplyConfiguration
{
	color:green;
}


#Run
{
	color:lightgreen;
}

#Stop
{
	color:red;
}

#Step
{
	color:lightblue;
}

#OpenHelp:hover, #CloseHelp:hover, #ApplyConfiguration:hover,
#Run:hover, #Stop:hover, #Step:hover, #ResetProcessor:hover,
#CloseDialog:hover
{
	color:black;
}


#ResetProcessor
{
	color:yellow;
}

#helpDialogContents, #aboutDialogContents
{
	padding: 1cm;
	width: 20cm;
	height: 16cm;
	white-space: pre;
	overflow: auto;
	
	background-color: rgba(0.2,0.2,0.2,1.0);
	
}

#configurationDialogContents
{
	width: 20cm;
	background-color: rgba(0.2,0.2,0.2,1.0);
}



#Memory
{
	width: 8.5cm;
}

.component table
{
	border-spacing:0;
}

.component button
{
	background-color: rgb(40,40,40);	
	color: rgb(120,120,120);
	box-shadow: 0pt 0pt 0pt 0pt rgba(0,0,0,0.3),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.3),
				inset 0 0.2em 0.2em rgba(240,240,240,0.3);
	border-style:none;
	border-radius:3pt;
}

#Processor img
{
	height:3.2cm;
	position:static;
}

#Memory img, #Program img
{
	height:2cm;
	position:static;
}

.component img
{
	height:1.4cm;
	position:relative;
	left: -0.6cm;
	top: -0.6cm;

}

.component .menu
{
	margin-top:10pt;
}

.component .menu button
{
	margin-left:3pt;
}

#ToneGenerator, #Keyboard, #RandomNumberGenerator, #Clock
{
	width:4.5cm;
}


#ToneGenerator input
{
	width: 100%;
	font-size: 14pt;
}

#Keyboard input
{
	width: 100%;
	font-size: 14pt;
}

#RandomNumberGenerator input
{
	width: 100%;
	font-size: 14pt;
}

#Clock input
{
	width: 100%;
	font-size: 14pt;
}

#Configuration input
{
	width: 2cm;
}

#Program .instructionInput
{
	width: 8cm;
}


#Program
{
	width: 12cm;
}

.notEditable
{
	color: rgb(90, 90, 90);	
}

.backgroundBody
{
	background-color: rgb(51, 51, 51);
	background-image: url("images/background2.png");
	background-size: 25%;
	background-repeat: repeat;
}

.backgroundField
{
	/*background-color: rgb(230,230,230);*/
	background-color: rgb(40,40,40);
}

.backgroundFieldBase
{
	background-color: rgb(40,40,40,0.8);
}

.backgroundMachine
{
	/* background-color: rgb(130,127,204); */
	background-color: rgb(255,127,204); 
}


.thinRounded
{
	border-radius:1pt
}


.backgroundBody
{
	background-color: rgb(51, 51, 51);
}



.padded
{
	padding:5pt;
}

.margined
{
	margin:15pt;
}

.bottommargined
{
	margin-bottom:15pt;
}

.row
{
	width: 100%;
}

.column
{
	float:left;
}


.bordered
{
	/*
	border-style:solid;
	border-width:1pt;
	border-color:black;
	*/
}


.notbordered
{
	border-style:none
}

.smoothborder
{
	border-radius:10pt;
}

.machineCasing
{
	box-shadow: 5pt 5pt 5pt 0pt rgba(0,0,0,0.5),
				inset 0 -0.2em 0.2em rgba(0,0,0,0.5),
				inset 0 0.2em 0.2em rgba(240,240,240,0.8);

}



.shadowed
{
	box-shadow: 3pt 3pt 3pt 0pt rgba(0,0,0,0.3)
}

.fullwidth
{
	width: 100%;
}

.halfwidth
{
	width: 50%;
}


.centered
{
	text-align:center;
}

.verysmall
{
	font-size: x-small;
}

.smaller
{
	font-size: smaller;
}

.larger
{
	font-size: larger;
}

.bold
{
	font-weight: bold;
}

.grayed
{
	color:gray
}

.topaligned
{
	valign:top
}

.middlealigned
{
	valign:middle;
}

.rightaligned
{
	text-align: right;
}

.preformated
{
	white-space: pre
}

.inputlabel
{
	width:2cm;
}


.periphericValue
{
	font-size:larger;
}

.noMargin
{
	margin: 0pt;
}

.noPadding
{
	padding: 0pt;
}


.bigRaised
{
	position:relative;
	left: -1.2cm;
	top: -1.2cm;	
}

.floatRight
{
	float:right;
}


